In [1]:
import pandas as pd
from tdda import rexpy

eggnog_all_members_unique_ids_file = '/Users/MAM/Downloads/all.members.unique.ogids.txt'

In [2]:
eggnog_all_members_unique_ids = pd.read_csv(eggnog_all_members_unique_ids_file, header=None)

In [3]:
# eggnog_all_members_unique_ids

In [4]:
id_list = list(eggnog_all_members_unique_ids[0])

In [ ]:
id_pattern = rexpy.extract(id_list)

In [ ]:
id_pattern

`['^[A-Za-z0-9]+$']`

not helpful

In [8]:
split_list = [i.split('OG') for i in id_list]

In [9]:
split_list[0:9]

[['C', '0001'],
 ['C', '0002'],
 ['C', '0003'],
 ['C', '0004'],
 ['C', '0005'],
 ['C', '0006'],
 ['C', '0007'],
 ['C', '0008'],
 ['C', '0009']]

In [10]:
split_frame = pd.DataFrame(split_list)

In [11]:
split_frame

           0      1
0          C   0001
1          C   0002
2          C   0003
3          C   0004
4          C   0005
...      ...    ...
774579  verN  01352
774580  verN  01353
774581  verN  01354
774582  verN  01355
774583  verN  01356

[774584 rows x 2 columns]

In [15]:
post_OG_id_list = list(split_frame[1])

In [16]:
id_pattern = rexpy.extract(post_OG_id_list)

In [17]:
id_pattern

['^\\d{4,6}$']

at this point we have something like ...`OG\\d{4,6}$`

In [18]:
pre_OG_id_list = list(split_frame[0])

In [19]:
id_pattern = rexpy.extract(pre_OG_id_list)

In [20]:
id_pattern

['^[A-Za-z]+$']

not useful

In [23]:
split_frame[0].value_counts()

N        149118
bactN     87349
proN      48683
opiN      39463
euN       36416
meN       30369
biN       28449
veN       23316
chorN     23235
gproN     21151
aproN     20425
maN       19946
spriN     18790
prN       18572
firmN     18321
actN      17805
fiN       17305
bproN     16390
roN       15859
nemN      14539
fuN       13540
dproN     11209
inN       10394
arC        9270
cyaN       9107
bctoN      8005
eurN       6272
C          4873
K          4851
chloN      4142
eproN      3220
aciN       3137
chlN       3076
creN       2746
therN      2553
arN        2117
fusoN      1720
dicN       1608
deiN       1459
spiN       1410
verN       1356
aquiN      1355
chlaN       871
tenN        792
Name: 0, dtype: int64